@import './fonts/fonts'

body
  margin: 0
  font-family: 'Raleway', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

$font-color: #000
$bg-color: #fff
$orange: #F7B819
$dark-orange: #AB7A00
$cyan: #31F7B2
$purple: #CA00F7
$dark-purple: #8D09AB

// Blocks
@import './blocks/board/board'
@import './blocks/menu/menu'
@import './blocks/game/game'

// Elements
@import './blocks/menu/__heading/menu__heading'
@import './blocks/menu/__game-mode/menu__game-mode'
@import './blocks/menu/__game-mode-link/menu__game-mode-link'

// Modifiers
