body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// Blocks
@import './blocks/board/board'
@import './blocks/menu/menu'
@import './blocks/game/game'

// Elements
@import './blocks/menu/__heading/menu__heading'
@import './blocks/menu/__game-mode/menu__game-mode'
@import './blocks/menu/__game-mode-link/menu__game-mode-link'

// Modifiers
