@import './fonts/fonts'

body
  margin: 0
  font-family: 'Raleway', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// Blocks
@import './blocks/board/board'
@import './blocks/menu/menu'
@import './blocks/game/game'

// Elements
@import './blocks/menu/__heading/menu__heading'
@import './blocks/menu/__game-mode/menu__game-mode'
@import './blocks/menu/__game-mode-link/menu__game-mode-link'

// Modifiers
